@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* add */
a {
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --bold: 700;
}

/* ==============================
  || breakpoints
============================== */
body {
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

p {
  margin-bottom: 2rem;
}

input,
textarea {
  border: 1px solid #4C4948;
  border-radius: 7px;
  padding: 0.5rem;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.left {
  -moz-text-align-last: left;
       text-align-last: left;
}

.right {
  -moz-text-align-last: right;
       text-align-last: right;
}

@media screen and (min-width: 850px) {
  .br-sp {
    display: none;
  }
}

.br-pc {
  display: none;
}
@media screen and (min-width: 850px) {
  .br-pc {
    display: block;
  }
}

.is-block {
  display: block;
}

.is-nowrap {
  white-space: nowrap;
}

.note {
  font-size: 0.625rem;
  letter-spacing: normal;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 850px) {
  .note {
    font-size: 1rem;
  }
}

.no-under {
  text-decoration: none;
}

:root {
  --bold: 700;
}

/* ==============================
  || breakpoints
============================== */
.l-header {
  height: 80px;
  padding: 0 0 0 4vw;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 850px) {
  .l-header {
    height: 150px;
  }
}
.l-header__logo {
  display: block;
  width: auto;
  height: 50px;
}
.l-header__nav {
  display: none;
}
@media screen and (min-width: 850px) {
  .l-header__nav {
    display: flex;
    margin-left: auto;
    margin-right: 4vw;
    color: #008BCD;
    font-weight: bold;
    gap: 1vw;
    font-size: 0.875rem;
    align-self: flex-end;
    margin-bottom: 40px;
  }
  .l-header__nav a {
    text-decoration: none;
  }
}

.l-contact__box {
  border-radius: 12px;
  margin-top: 9rem;
  padding: 3rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  background: white;
  color: #4C4948;
}
@media screen and (min-width: 850px) {
  .l-contact__box {
    background-color: transparent;
    background-image: url(../images/bg/bg_w.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 45px 200px;
    aspect-ratio: 108/49;
    place-content: center;
    place-items: center;
    max-width: 1080px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    row-gap: 1rem;
  }
  .l-contact__box .c-title__contact {
    grid-column: 1/4;
  }
}
.l-contact__head, .l-contact__foot {
  width: 100%;
}
.l-contact__head {
  margin-bottom: 4rem;
}
@media screen and (min-width: 850px) {
  .l-contact__head {
    margin-bottom: 0;
  }
}
.l-contact__border {
  display: none;
}
@media screen and (min-width: 850px) {
  .l-contact__border {
    display: block;
    background-color: #284678;
    width: 1px;
    height: 100%;
  }
}
.l-contact__tel, .l-contact__mail {
  position: relative;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-contact__tel-icon {
  width: 32px;
  height: 32px;
}
.l-contact__mail {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.375rem;
  text-align: center;
}
.l-contact__mail:before {
  content: none;
}
.l-contact__button {
  margin-top: 1rem;
}

.l-footer {
  position: relative;
  color: white;
  background: #008BCD;
  font-size: 0.75rem;
  padding-bottom: 4.5rem;
}
@media screen and (min-width: 850px) {
  .l-footer {
    padding-bottom: 1rem;
  }
}
.l-footer__inner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 2.5rem 3.5rem;
}
@media screen and (min-width: 850px) {
  .l-footer__inner {
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }
}
@media screen and (min-width: 850px) {
  .l-footer__logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .l-footer__logo-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 2rem;
  }
}
.l-footer__logo {
  background-image: url("../images/logo/logo_up_w.png");
  background-size: contain;
  display: block;
  width: 257.5px;
  height: 106px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .l-footer__logo {
    background-image: url("../images/logo/logo_side_w.png");
    width: 400px;
    height: 80px;
  }
}
.l-footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 850px) {
  .l-footer__contact {
    align-items: end;
    margin-top: 0;
    margin-bottom: 0.65rem;
  }
}
.l-footer__info {
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .l-footer__info {
    margin-top: 1rem;
    margin-left: 5rem;
  }
}
.l-footer-nav {
  font-size: 0.875rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
@media screen and (min-width: 850px) {
  .l-footer-nav {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2.25rem;
    border-top: none;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}
.l-footer-nav__item a {
  text-decoration: none;
}
.l-footer-nav__item:before {
  content: "●";
}
.l-footer__company-logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 1rem;
}
.l-footer__company-logo img {
  max-width: 195px;
}
.l-footer__copy {
  font-size: 0.625rem;
  text-align: center;
}

.l-flex, .l-flex--right, .l-flex--left, .l-flex--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-flex--center {
  justify-content: center;
}
.l-flex--left {
  justify-content: flex-start;
}
.l-flex--right {
  justify-content: flex-end;
}
@media screen and (min-width: 850px) {
  .l-flex-pc {
    display: flex;
  }
  .l-flex-pc--end {
    display: flex;
    justify-content: flex-end;
  }
  .l-flex-pc--sb {
    display: flex;
    justify-content: space-between;
  }
}

.l-grid, .l-grid--right, .l-grid--left, .l-grid--center, .l-grid--col2, .l-grid--col2-auto {
  display: grid;
  align-items: center;
}
.l-grid--col2, .l-grid--col2-auto {
  grid-template-columns: 1fr 1fr;
}
.l-grid--col2-auto {
  grid-template-columns: auto auto;
}
.l-grid--center {
  justify-content: center;
}
.l-grid--left {
  justify-content: flex-start;
}
.l-grid--right {
  justify-content: flex-end;
}
@media screen and (min-width: 850px) {
  .l-grid-pc {
    display: grid;
  }
  .l-grid-pc--col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .l-grid-pc--col2-auto {
    display: grid;
    grid-template-columns: auto auto;
  }
  .l-grid-pc--col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .l-grid-pc--col3-auto {
    grid-template-columns: auto auto auto;
    display: grid;
  }
}

.l-inner, .l-inner--lg {
  max-width: calc(1280px + 4rem);
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 3rem;
}
@media screen and (min-width: 850px) {
  .l-inner, .l-inner--lg {
    margin-bottom: 2rem;
  }
}
.l-inner--lg {
  margin-bottom: 0;
  padding: 1rem 0.75rem 3rem;
}

.l-box, .l-box--blue, .l-box--title {
  border-radius: 12px;
  padding: 3rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  background: white;
  color: #4C4948;
}
.l-box:not(:last-child), .l-box--blue:not(:last-child), .l-box--title:not(:last-child) {
  margin-bottom: 2.5rem;
}
.l-box--title {
  margin-top: 5rem;
}
@media screen and (min-width: 850px) {
  .l-box--title {
    margin-top: 10rem;
  }
}
.l-box--blue {
  background-image: url("../images/bg/bg_light_blue.jpg");
  background-repeat: repeat;
}
@media screen and (min-width: 850px) {
  .l-box--blue {
    padding-top: 2.5rem;
  }
}
.l-box--sm {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .l-box__text {
    text-align: center;
  }
}

.l-form {
  font-weight: var(--bold);
}
.l-form__wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.l-ig {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 850px) {
  .l-ig {
    padding-bottom: 10rem;
  }
}

:root {
  --bold: 700;
}

/* ==============================
  || breakpoints
============================== */
.c-button, .c-button__bottom, .c-button--mail, .c-button--tel, .c-button--blue {
  position: relative;
  background: #FF5995;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #880045;
  width: 80%;
  max-width: 400px;
  line-height: 44px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.c-button span, .c-button__bottom span, .c-button--mail span, .c-button--tel span, .c-button--blue span {
  position: relative;
}
.c-button span:before, .c-button__bottom span:before, .c-button--mail span:before, .c-button--tel span:before, .c-button--blue span:before {
  display: block;
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-45%);
  content: "";
  background-size: contain;
  width: 28px;
  height: 28px;
}
.c-button:active, .c-button__bottom:active, .c-button--mail:active, .c-button--tel:active, .c-button--blue:active {
  box-shadow: none;
  transform: translateY(4px);
}
.c-button--blue {
  background: #008BCD;
  box-shadow: 0 4px 0 0 #284678;
}
.c-button--tel span:before {
  background-image: url("../images/icon/icon_tel.png");
}
.c-button--mail span:before {
  background-image: url("../images/icon/icon_mail.png");
}
.c-button--top {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 850px) {
  .c-button--top {
    margin-bottom: 0;
  }
}
.c-button__bottom {
  width: 270px;
  position: fixed;
  bottom: 0;
  left: 50%;
  box-shadow: none;
  transform: translateX(-50%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 102;
}
.c-button__bottom:active {
  transform: translateX(-50%);
}
@media screen and (min-width: 850px) {
  .c-button__bottom {
    top: 0;
    background: #008BCD;
    bottom: auto;
    left: auto;
    right: 4vw;
    transform: translateY(0);
    height: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .c-button__bottom:active {
    transform: translateY(0);
  }
}
.c-button__goToTop {
  position: absolute;
  background: white;
  color: #008BCD;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  top: 20px;
  right: 20px;
  z-index: 10001;
  display: flex;
  justify-content: center;
}
.c-button__goToTop figure {
  width: 14.73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 850px) {
  .c-button__goToTop {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1rem;
    top: auto;
    bottom: 2rem;
    right: 2rem;
  }
  .c-button__goToTop figure {
    width: 34.38px;
  }
}

.c-title__lv2 {
  color: #008BCD;
  font-size: 1.375rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3rem;
}
@media screen and (min-width: 850px) {
  .c-title__lv2 {
    font-size: 1.625rem;
    margin-bottom: 4rem;
  }
}
.c-title__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: #008BCD;
  height: 90px;
  border-radius: 45px;
  margin-left: auto;
  margin-right: auto;
}
.c-title__lv3, .c-title__ig, .c-title__map, .c-title__lv3--lg {
  background-image: url("../images/parts/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 165px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 75px;
  font-size: 1.125rem;
  font-weight: var(--bold);
  color: white;
  margin-top: calc(-2rem - 55px);
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .c-title__lv3, .c-title__ig, .c-title__map, .c-title__lv3--lg {
    font-size: 36px;
    width: 350px;
    height: 160px;
    line-height: 160px;
    margin-top: calc(-9rem - 80px);
  }
}
@media screen and (min-width: 850px) {
  .c-title__lv3--lg {
    font-size: 44px;
  }
}
.c-title__box, .c-title__flow, .c-title__box--no-border {
  color: #008BCD;
  font-size: 1.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px dotted #E7F1F6;
}
@media screen and (min-width: 850px) {
  .c-title__box, .c-title__flow, .c-title__box--no-border {
    font-size: 1.375rem;
  }
}
.c-title__box--no-border {
  font-size: 1.375rem;
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 5rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 850px) {
  .c-title__box--no-border {
    margin-top: 5.5rem;
    font-size: 44px;
  }
}
@media screen and (min-width: 850px) {
  .c-title__flow {
    font-size: 44px;
  }
}
.c-title__contact {
  margin-bottom: 1.5rem;
  padding-bottom: 0;
}
@media screen and (min-width: 850px) {
  .c-title__contact {
    font-size: 26px;
  }
}
.c-title__map {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  width: 165px;
  z-index: 101;
}
@media screen and (min-width: 850px) {
  .c-title__map {
    font-size: 36px;
    width: 350px;
    height: 160px;
    line-height: 160px;
    margin-top: -75px;
  }
}
.c-title__ig {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 850px) {
  .c-title__ig {
    margin-top: -10rem;
  }
}
.c-title__ig:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/icon/icon_ig.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 850px) {
  .c-title__ig:before {
    top: 1.5rem;
    width: 40px;
    height: 40px;
  }
}
.c-title__ig::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: -100px;
  background-image: url("../images/parts/followme.png");
  background-size: contain;
  width: 95px;
  height: 72px;
}
@media screen and (min-width: 850px) {
  .c-title__ig::after {
    top: -1rem;
    right: -300px;
    width: 252px;
    height: 190px;
  }
}

.c-list__blue li {
  font-size: 0.875rem;
}
@media screen and (min-width: 850px) {
  .c-list__blue li {
    font-size: 0.75rem;
  }
}
.c-list__blue li:before,
.c-list__blue dt:before {
  content: "●";
  color: #008BCD;
}

.c-form-error__list {
  padding: 10px 30px;
  color: #ff2e5a;
  font-size: 86%;
  text-align: left;
  border: 1px solid #ff2e5a;
  border-radius: 5px;
}

.c-icon__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 1rem;
  font-size: 0.75rem;
}
.c-icon__list li {
  padding: 0.25rem 0.5rem;
}
.c-icon__list li:not(:last-child) {
  border: 1px solid #008BCD;
  border-radius: 0.25rem;
  color: #008BCD;
}

.c-drawer__btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10002;
  width: 63px;
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  cursor: pointer;
}
.c-drawer__btn span {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #4C4948;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
}
.c-drawer__btn span:nth-child(1) {
  transform: translate(-50%, -12px);
}
.c-drawer__btn span:nth-child(2) {
  transform: translate(-50%, -50%);
}
.c-drawer__btn span:nth-child(3) {
  transform: translate(-50%, 12px);
}
.c-drawer__btn.active {
  background-color: transparent;
}
.c-drawer__btn.active span {
  background-color: white;
}
.c-drawer__btn.active span:nth-child(1) {
  transform: translate(-50%, 0) rotate(45deg);
}
.c-drawer__btn.active span:nth-child(2) {
  transform: translate(100%, 0);
  opacity: 0;
}
.c-drawer__btn.active span:nth-child(3) {
  transform: translate(-50%, 0) rotate(-45deg);
}
@media screen and (min-width: 850px) {
  .c-drawer__btn {
    display: none;
  }
}
.c-drawer__menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  width: 350px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(40, 70, 120);
  transition: 0.3s;
  transform: translateX(100%);
  opacity: 0;
}
.c-drawer__menu.active {
  transform: translateX(0);
  opacity: 1;
}
.c-drawer__nav {
  padding: 5rem 2rem;
  color: white;
}
.c-drawer__nav li {
  line-height: 3;
}
.c-drawer__nav a {
  text-decoration: none;
}
.c-drawer__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgba(40, 70, 120, 0.7);
  transition: 0.3s;
  transform: translateX(100%);
  opacity: 0;
  cursor: pointer;
}
.c-drawer__bg.active {
  transform: translateX(0);
  opacity: 1;
}

.c-map {
  height: 600px;
  width: 100%;
  margin-top: 0.75rem;
}
.c-map__wrap {
  position: relative;
  margin-top: 6rem;
}
@media screen and (min-width: 850px) {
  .c-map__wrap {
    margin-top: 10.5rem;
  }
}
@media screen and (min-width: 850px) {
  .c-map {
    height: 760px;
  }
}

.c-bg__blue {
  background-image: url("../images/bg/bg_light_blue.jpg");
  background-repeat: repeat;
  background-size: 250px 250px;
}

:root {
  --bold: 700;
}

/* ==============================
  || breakpoints
============================== */
@media screen and (min-width: 850px) {
  .splide__pagination {
    bottom: -0.5rem !important;
    justify-content: right !important;
    padding-right: calc(20% + 10px) !important;
  }
}

#sliderTop .splide {
  margin-bottom: 2rem;
}
#sliderTop .splide__slide {
  position: relative;
  aspect-ratio: 7/10;
  background-size: calc(100% - 1.5rem) auto !important;
  background-position: top center !important;
}
#sliderTop .splide__slide:after {
  position: absolute;
  content: "";
  display: block;
  background-size: contain;
}
#sliderTop .splide__pagination__page {
  border-radius: 0 !important;
  height: 5px !important;
  width: 50px !important;
}
#sliderTop .splide__pagination__page.is-active {
  background-color: #008BCD !important;
  transform: scale(1) !important;
}
@media screen and (min-width: 850px) {
  #sliderTop .splide__slide {
    aspect-ratio: 27/17;
  }
}

.sliderTop {
  background-size: cover;
  background-position: center;
}

#sliderTop-slide01,
#sliderTop-clone03 {
  background-image: url("../images/slider/top_sp01.jpg");
}
#sliderTop-slide01:after,
#sliderTop-clone03:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 307px;
  height: 156px;
  background-image: url("../images/slider/cc01.png");
}

#sliderTop-slide02 {
  background-image: url("../images/slider/top_sp02.jpg");
}
#sliderTop-slide02:after {
  bottom: 6rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 307px;
  height: 100px;
  background-image: url("../images/slider/cc02.png");
}

#sliderTop-slide03,
#sliderTop-clone02 {
  background-image: url("../images/slider/top_sp03.jpg");
}
#sliderTop-slide03:after,
#sliderTop-clone02:after {
  top: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 253px;
  height: 156px;
  background-image: url("../images/slider/cc03sp.png");
}

@media screen and (min-width: 850px) {
  #sliderTop-slide01,
#sliderTop-clone03 {
    background-image: url("../images/slider/top_pc01.jpg");
  }
  #sliderTop-slide01:after,
#sliderTop-clone03:after {
    top: auto;
    bottom: 5vw;
    left: 3vw;
    transform: translate(0, 0);
    width: clamp(250px, 30vw, 500px);
    height: clamp(100px, 15vw, 254px);
  }
  #sliderTop-slide02 {
    background-image: url("../images/slider/top_pc02.jpg");
  }
  #sliderTop-slide02:after {
    top: 4vw;
    bottom: auto;
    left: auto;
    right: 3vw;
    transform: translate(0, 0);
    width: clamp(250px, 30vw, 500px);
    height: clamp(100px, 15vw, 164px);
  }
  #sliderTop-slide03,
#sliderTop-clone02 {
    background-image: url("../images/slider/top_pc03.jpg");
  }
  #sliderTop-slide03:after,
#sliderTop-clone02:after {
    top: auto;
    bottom: 5vw;
    left: 5vw;
    right: auto;
    transform: translate(0, 0);
    width: clamp(300px, 40vw, 614px);
    height: clamp(100px, 15vw, 164px);
    background-image: url("../images/slider/cc03.png");
  }
}
.card01.splide img,
.card02.splide img {
  border-radius: 12px;
}

[class^=card] {
  margin-bottom: 3rem;
}
@media screen and (min-width: 850px) {
  [class^=card] {
    margin-bottom: 4rem;
  }
}

.p-intro__wrap {
  position: relative;
  width: 100%;
  max-width: 862px;
  aspect-ratio: 1/1;
  background-image: url("../images/top/top_001.png");
  background-size: 93.3333333333%;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .p-intro__wrap {
    margin-top: -4rem;
  }
}
.p-intro__img01 {
  position: absolute;
  width: 100%;
  top: -2rem;
  left: 0;
}
@media screen and (min-width: 850px) {
  .p-intro__img01 {
    width: 1803px;
    height: 889px;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.p-intro__logo {
  width: clamp(40px, 10vw, 100px);
  height: auto;
}
.p-intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
}
.p-intro__text, .p-intro__foot {
  font-size: clamp(0.8rem, 2.5vw, 1.375rem);
  line-height: 1.6923076923em;
  margin-bottom: 0;
}
.p-intro__foot {
  position: relative;
  padding-bottom: 8rem;
}
@media screen and (min-width: 850px) {
  .p-intro__foot {
    padding-bottom: 15rem;
  }
}
.p-intro__foot::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 167.24px;
  height: 106px;
  background-image: url("../images/bg/bg_l.png");
  background-size: contain;
}
@media screen and (min-width: 850px) {
  .p-intro__foot::before {
    width: 22.1875%;
    height: auto;
    max-width: 426px;
    aspect-ratio: 426/270;
  }
}
.p-intro__foot::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 248.4px;
  height: 138px;
  background-image: url("../images/bg/bg_r.png");
  background-size: contain;
}
@media screen and (min-width: 850px) {
  .p-intro__foot::after {
    bottom: -10px;
    width: 32.8125%;
    height: auto;
    max-width: 630px;
    aspect-ratio: 7/4;
  }
}
.p-intro__foot-img {
  margin-top: 1rem;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 850px) {
  .p-intro__foot-img {
    display: none;
  }
}

.p-page-headline {
  padding: 1rem 2rem 3rem;
}
.p-page-headline__wrap {
  margin-top: -61px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 80px;
  justify-content: center;
  gap: 1rem;
  row-gap: 1.5rem;
  position: relative;
}
@media screen and (min-width: 850px) {
  .p-page-headline__wrap {
    grid-template-columns: auto 470px auto;
    grid-template-rows: 160px;
    margin-top: -110px;
    align-items: end;
    margin-bottom: 8rem;
  }
}
.p-page-headline__title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(0.875rem, 2.5vw, 1.375rem);
  line-height: 1.7272727273em;
  width: 100%;
  max-width: 470px;
  z-index: 101;
  position: relative;
}
.p-page-headline__title::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/parts/ashirai.png");
  width: 70px;
  height: 20px;
  background-size: contain;
}
@media screen and (min-width: 850px) {
  .p-page-headline__title {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 128px;
    border-radius: 64px;
    margin-bottom: 0;
  }
}
.p-page-headline__img {
  place-items: center;
  z-index: 102;
}
@media screen and (min-width: 850px) {
  .p-page-headline__img {
    width: 250px;
  }
}
.p-page-headline__img.--left {
  place-items: end;
  place-self: end;
  align-self: start;
}

.p-index-main__contents {
  gap: 1rem;
}
@media screen and (min-width: 850px) {
  .p-index-main__contents .l-box, .p-index-main__contents .l-box--title, .p-index-main__contents .l-box--blue {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 850px) {
  .p-index-main__contents--down {
    display: grid;
    grid-template-areas: "head" "foot";
    gap: 2rem;
  }
  .p-index-main__contents--down-slider {
    grid-area: head;
  }
}
.p-index-main__contents p {
  margin-bottom: 0;
}
@media screen and (min-width: 1380px) {
  .p-index-main__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

.p-index-button__wrap {
  padding: 2rem 0 3rem;
  max-width: 832px;
  margin-left: auto;
  margin-right: auto;
}
.p-index-button__wrap button {
  margin-bottom: 2rem;
  width: clamp(250px, 40%, 400px);
}
@media screen and (min-width: 850px) {
  .p-index-button__wrap {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 0;
    padding-bottom: 9rem;
  }
}

.p-index-about__logo {
  width: 65%;
  max-width: 408px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.p-index-about__def {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.p-index-about__def dl {
  display: grid;
  grid-template-columns: 120px 1fr;
}
.p-index-about__def dl:not(:last-child) {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 850px) {
  .p-index-about__def dl {
    font-size: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.p-index-about__icon {
  text-decoration: none;
  background: #008BCD;
  color: white;
  border-radius: 3px;
  padding: 0 0.25rem;
}

.p-about-schedule__wrap {
  display: grid;
  margin-bottom: 1rem;
}
.p-about-schedule__item-heading {
  font-size: 1.125rem;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  font-size: 22px;
  color: #008BCD;
  font-weight: bold;
}
.p-about-schedule__item-heading span {
  color: white;
  background: #008BCD;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-about-schedule__title {
  border-bottom: 4px dotted #E7F1F6;
}
.p-about-schedule__item {
  margin-left: 21px;
  padding-left: 21px;
}
.p-about-schedule__item:not(.--last) {
  border-left: 3px solid #008BCD;
  padding-bottom: 1rem;
}
.p-about-schedule__item-fig {
  margin-left: 21px;
  padding-left: 21px;
  line-height: 1.75;
  position: relative;
}
.p-about-schedule__item-fig img {
  border-radius: 20px;
}
.p-about-schedule__item-fig:not(.--last) {
  border-left: 3px solid #008BCD;
}
.p-about-schedule__item-fig:not(.--last)::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: -13.5px;
  width: 24px;
  height: 24px;
  transform: rotate(45deg) skew(10deg, 10deg);
  border-bottom: 3px solid #008BCD;
  border-right: 3px solid #008BCD;
}

@media screen and (min-width: 850px) {
  .p-about__box {
    padding: 100px;
  }
  .p-about-schedule__wrap {
    display: grid;
    grid-template-columns: calc(60% - 1rem) calc(40% - 1rem);
    grid-template-rows: 80px auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    font-size: 1rem;
  }
  .p-about-schedule__item-heading {
    font-size: 44px;
    margin-bottom: 2rem;
  }
  .p-about-schedule__item-heading span {
    width: 60px;
    height: 60px;
  }
  .p-about-schedule__item {
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
  }
  .p-about-schedule__item:not(.--last)::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 6px;
    left: -13.5px;
    width: 24px;
    height: 24px;
    transform: rotate(45deg) skew(10deg, 10deg);
    border-bottom: 3px solid #008BCD;
    border-right: 3px solid #008BCD;
  }
  .p-about-schedule__item-fig {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0;
    padding: 0;
  }
  .p-about-schedule__item-fig:not(.--last) {
    border: none;
  }
  .p-about-schedule__item-fig:not(.--last)::before {
    display: none;
  }
  .p-about-schedule__item-fig::before {
    display: none;
  }
}
.p-about-table {
  gap: 1rem;
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-weight: bold;
}
@media screen and (min-width: 850px) {
  .p-about-table {
    font-size: 1.675rem;
  }
}
.p-about-table * {
  padding: 1rem 0.25rem;
}
.p-about-table__title {
  font-weight: bold;
  text-align: center;
  background: #008BCD;
  color: white;
}
.p-about-table__item {
  background-color: #E7F1F6;
}

.p-form__wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.p-form__privacy {
  align-items: center;
  margin: 2rem 0;
}
@media screen and (min-width: 850px) {
  .p-form__privacy {
    margin: 4rem 0;
  }
}
.p-form__button {
  width: 50vw;
  max-width: 400px;
}

:root {
  --bold: 700;
}

/* ==============================
  || breakpoints
============================== */
.u-fz {
  font-size: 0.875rem;
}
@media screen and (min-width: 850px) {
  .u-fz {
    font-size: 1rem;
  }
}
.u-fz--lg {
  font-size: 1rem;
}
@media screen and (min-width: 850px) {
  .u-fz--lg {
    font-size: 1.325rem;
  }
}

.u-fz-lg {
  font-size: 1.375rem;
}

.u-color__main {
  color: #008BCD;
}
.u-color__dark-blue {
  color: #284678;
}

.u-pb0 {
  padding: 0;
}

.u-mg0 {
  margin: 0;
}

.u-mb--lg {
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .u-mb--lg {
    margin-bottom: 4.5rem;
  }
}

.u-gap10 {
  gap: 1rem;
}

.u-gap15 {
  gap: 1.5rem;
}

.u-gap20 {
  gap: 2rem;
}

.u-no-border {
  border: none;
}
/*# sourceMappingURL=main.css.map */